.contact {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 11rem);
  padding-top: 30vh;
}

.contact-content {
  position: relative;
  margin-top: 3rem;
  z-index: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}

.contact-content::before {
  content: "";
  z-index: -1;
  position: absolute;
  height: calc(100% + 6rem);
  width: calc(100% + 6rem);
  border-radius: 1rem;
  background-color: #f7ecee;
  top: -3rem;
  left: -3rem;
}

.contact-title {
  color: var(--color-primary);
  position: relative;
  font-weight: var(--font-weight-strong);
  margin-bottom: 0.5rem;
}

.contact-logo {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.contact-icon {
  flex-grow: 1;
}

.contact-icon img {
  height: 1rem;
}

.contact-social-icons {
  position: absolute;
  top: 0;
  right: 0;
}
