.contact {
  @media (min-width: 576px) {
    min-height: 100%;
    margin-top: 4rem;
  }
}

.contact-content {
  display: flex;
  position: relative;
  border-radius: 1rem;
  background-color: #f7ecee;
  padding: 1rem;
  flex-direction: column;

  @media (min-width: 576px) {
    padding: 2rem;
    flex-direction: row;
  }
}

.contact-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact-title {
  position: relative;
  font-weight: var(--font-weight-strong);
  margin-bottom: 0.5rem;
}

.contact-logo {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.contact-social-icons {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  position: relative;

  @media (min-width: 576px) {
    position: absolute;
    padding-top: 0;
    right: 2rem;
    top: 2.5rem;
  }
}

.contact-social-icon {
  width: 2rem;
  height: 2rem;
}

.contact-email {
  display: block;
  margin-top: 0.5rem;
}
