.home {
  margin-top: 2rem;
  @media (min-width: 576px) {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 11rem);
    margin-bottom: 0;
    justify-content: center;
  }
}

.home-title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-strong);
  margin-bottom: 0.5rem;

  @media (min-width: 576px) {
    font-size: var(--font-size-md);
  }
}

.home-content {
  max-width: 50rem;
}

.home-logo {
  align-self: flex-start;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: -0.6rem;

  @media (min-width: 576px) {
    margin-bottom: 2rem;
    max-width: 88%;
  }
}
