.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 11rem);
  margin-bottom: 0;
  justify-content: center;
}

.home-title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-strong);
  margin-bottom: 0.5rem;

  @media (min-width: 576px) {
    font-size: var(--font-size-md);
  }
}

.home-content {
  max-width: 50rem;
}

.home-logo {
  align-self: flex-start;
  margin-bottom: 2rem;
  max-width: 88%;
}

.home-icon {
  flex-grow: 1;
}

.home-icon img {
  height: 1rem;
}
