.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (min-width: 576px) {
    gap: 6rem;
    padding-bottom: 14rem;
  }
}

.home section:last-child {
  margin: 1.4rem auto 6rem;

  @media (min-width: 992px) {
    margin: 0 auto;
  }
}

.home-title {
  font-weight: var(--font-weight-strong);
  font-size: var(--font-size-xxlg);
  line-height: 3.6rem;
  color: var(--color-background);
  margin: 0;
  width: 20rem;

  @media (min-width: 576px) {
    font-size: var(--font-size-xxxlg);
    line-height: 4.2rem;
  }
}

.home-subtitle {
  color: var(--color-primary);
  max-width: 40rem;
  margin-bottom: 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
  padding: 2rem 1.4rem;

  @media (min-width: 768px) {
    gap: 4rem;
    max-width: 54rem;
    flex-direction: row;
  }
  @media (min-width: 992px) {
    max-width: 58rem;
    padding: 0;
  }
}

.home-content .title-label {
  color: var(--color-background);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-sans-serif);
  margin-bottom: 0.5rem;
}

.home-description {
  margin-top: 1rem;
  font-size: var(--font-size-xs);
  color: var(--color-background);

  @media (min-width: 576px) {
    font-size: var(--font-size-sm);
  }
}

.home-main-section {
  min-height: 65vh;
  display: flex;
  background-color: var(--color-primary);
  box-shadow: inset 0px -3px 10px 2px rgb(52 52 52 / 26%);
  background: linear-gradient(107deg, #8a0d27, #ce153d);
  background-size: 120% 120%;
  animation: gradient-animation 14s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bringing-ideas {
  max-width: 20rem;
  height: min-content;
  width: 100%;

  @media (min-width: 576px) {
    max-width: 29rem;
  }
  @media (min-width: 768px) {
    max-width: 20rem;
  }
}

.content-image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
  }
}

.home-subtitle strong {
  font-weight: var(--font-weight-strong);
  display: block;
}

.home-subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  @media (min-width: 768px) {
    font-size: var(--font-size-md);
  }
}
