.design-content {
  margin-bottom: 4rem;
}

.design-video-link {
  display: flex;
  line-height: 1;
  align-items: center;
}

.design-video-link-social-icon {
  padding-right: 0.5rem;
}

.design-workshop-image {
  width: 20rem;
  float: left;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.design-title {
  margin-bottom: 1rem;
}

.design-description {
  margin-top: 3rem;
}

.design-video-list li {
  margin-bottom: 0.75rem;
}
