@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #bf0029;
  --color-primary-light: #ebc4ce;
  --color-secondary: #91142f;
  --color-background: #fffcfc;
  --color-text: #1a1a1a;
  --font-serif: "Noto Serif", serif;
  --font-sans-serif: "Poppins", sans-serif;
  --font-size-xxs: 0.9rem;
  --font-size-xs: 1rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.6rem;
  --font-size-xlg: 3.8rem;
  --font-weight-strong: 800;
  --font-weight-bold: 700;
  --font-weight-dark: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --line-height-titles: 1.2;
  --line-height-text: 1.4;
  font-size: 16px;
  line-height: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-text);
}

strong {
  font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  line-height: var(--line-height-titles);
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-strong);

  @media (min-width: 576px) {
    font-size: var(--font-size-xlg);
  }
}

h2 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);

  @media (min-width: 576px) {
    font-size: var(--font-size-md);
  }
}

h3 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-dark);

  @media (min-width: 576px) {
    font-size: var(--font-size-sm);
  }
}

p,
li {
  line-height: var(--line-height-text);
  color: var(--color-text);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xxs);
  list-style-type: none;
  margin: 0;

  @media (min-width: 576px) {
    font-size: var(--font-size-xs);
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:link,
a:hover {
  color: var(--color-secondary);
}

a:active,
a:focus-visible,
a:focus {
  color: var(--color-secondary);
  outline-color: var(--color-primary-light);
  outline-offset: 0.4rem;
}

.app-container {
  background-color: var(--color-background);
  background-image: url("./images/bg.svg");
  background-position: -50vw 0;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 auto 4rem;

  @media (min-width: 576px) {
    width: 100%;
    min-height: 100vh;
  }

  @media (min-width: 768px) {
    max-width: 54rem;
  }

  @media (min-width: 992px) {
    padding: 0;
    max-width: 60rem;
  }

  @media (min-width: 1200px) {
    max-width: 68rem;
  }
}

.section-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.section-title {
  color: var(--color-primary);
  margin-bottom: 1rem;
  padding-top: 8rem;

  @media (min-width: 576px) {
    margin-bottom: 3rem;
  }
  @media (min-width: 768px) {
    margin-right: 4rem;
    padding-top: 14rem;
  }
}

.section-subtitle {
  margin-bottom: 1rem;
}

.main-section {
  @media (min-width: 576px) {
    min-height: calc(100vh - 3rem);
    margin-bottom: 0;
  }
}
